.form {
    width: 60%;
    margin: 90px auto 90px auto;
}

.editForm {
    width: 60%;
    margin: 0 auto;

    > div {
        margin-bottom: 15px;
    }

    .item__form-submit {
        margin-top: 40px;
    }

    input[read-only] {
        color: red;
    }
}

.item__form {

    > div {
        width: 90%;
        margin: 0 0 20px 10%;

        &:last-child {
            margin-top: 70px;
            text-align: center;
        }
    }

    &-label {
        @include font (20px, $redish, 200, 1.2em);
        width: 15%;
        display: inline-block;
        text-align: left;
    }

    &-input {
        @include font (20px, false, 200, 1.2em);
        display: inline-block;
        height: 30px;
        width: 60%;
        background: transparent;
        border: none;
        border-bottom: solid 1px $grey;
        box-shadow: none;
        height: auto;
        padding: 10px 10px 10px 0;

        &:active,
        &:focus {
            outline: none;
            border-bottom: $grey solid 1px;
            box-shadow: none;
        }

        &::-webkit-input-placeholder,
        &:-ms-input-placeholder,
        &::placeholder {
            color: green;
        }

        &[readonly]{
            color: $grey;
        }
    }

    &-submit {
        @include font (24px, false, 200);
        width: 15%;
        border: none;
        font-size: 24px;
        cursor: pointer;

        &:hover {
            color: $redish;
        }

        &.validate {
            @include button_gradient();
            padding: 10px 0;
            font-size: 24px;
            border: none;
        }
    }
}

