.listItems {
    width: calc(100% - #{$widthNav}); 
    margin-left: $widthNav;

    &__actions {
        display: flex; 
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0 50px;
        padding: 0 20px;

        &-addButton {
            @include button_gradient();
        }
    }

    &__table {
        width: 100%; 
        color: $bluedark;
        border-spacing: 0;
        border-spacing: 0px 10px;
        background-color: rgba(150, 150, 150, 0.2);

        &.users {
            &__body {
                &-entries {
                    width: calc(100%/5);
                }
            }
        }

        &.houses {
            &__body {
                &-entries {
                    width: calc(100%/4);
                }
            }
        }

        &__head, 
        &__body {
            height: 50px;
        }

        &__head {
            @include font (20px, $grey);
            text-transform: uppercase;
        }

        &__body {
            background: $white;

            &-entries {
                @include font (18px, $greyInk, 200);
                text-transform: lowercase;

                &:first-child {
                    width: auto; 
                }
            }

            &-actions {
                width: 20%;
            }
        }
    }
}